:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAV BAR */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;
}

nav .left a {
    color: (var(--text-color));
    font-size: 23px;
    font-weight: 600;
}

nav .right a {
    color: (var(--text-color));
    margin: 0 10px;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px; 
}

nav .right a span{
    margin-left: 5px;
}

/* SECTION 1: HOME */
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.home .text {
    flex: 5;
}

.home .text h2 {
    font-size: 45px;
}

.home .text .links {
    margin-top: 25px;
}

.home .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.home .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.home .image {
    flex: 2;
    display: flex;
    justify-content: right ;
}

.home .image img{
    width: 500px;
    border-radius: 50%;
}

/* SECTION:2 Skills*/
.skillss {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skillss h2 {
    text-align: center;
    font-size: 35px;
}

.skillss .text {
    text-align: center;
    margin-bottom: 20px;
}

.skillss .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillss .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3 ;
    border-radius: 5px;

}

.skillss .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skillss .cells .cell span {
    font-size: 18px;
}

/*SECTION 3: ABOUT */
.about {
    padding: 0 50px;
    margin-bottom: 100px;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.about .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about .group .person-details {
    text-align: center;
    flex: 2;
}

.about .group .person-details img {
  width: 300px; 
  max-width: 100%;
  height: auto;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 10px;
}

.about .group .person-details p {
    font-weight: 600;
}

.about .group .person-details p:last-child {
    font-weight: normal;
}
.about .group .text {
    flex: 8;
}

@media (max-width: 830px){
    /*SECTION 1: HOME */
    .home .text h2 {
        font-size: 35px;
    }
}


@media (max-width: 740px){
    /*SECTION 1: HOME */
    .home {
       flex-direction: column-reverse;
    }

    .home .image img {
       width: 300px; 
    }
}


@media (max-width: 650px){
    /* NAVBAR */
    nav{
       padding: 0 20px;
    }
    nav .right a{
        font-size: 24px;
    }

    nav .right a:last-child{
        padding: 0;
        color: var(--text-color);
        background-color: transparent;
    }

    nav .right a span{
       display: none;
    }

    /* SECTION 1: HOME */
    .home {
    padding: 0 20px;
    }

    .home .text h2 {
    font-size: 30px;
    }

    /* SECTION:2 Skills*/
    .skillss{
    padding: 0 20px;
    }

    .skillss .cells .cell span {
    font-size: 16px;
    }
}


 
